<header ng-include="'templatesHTML/guest/headerGuest.html'"></header>

<div class="col-md-6 col-md-offset-1">
    <form name="loginForm" class="form-horizontal col-md-10" autocomplete="off">
        <fieldset>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <legend>Login</legend>
                </div>
            </div>
            <div class="form-group">
                <label for="loginUsername" class="col-md-3 control-label">Username</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="loginUsername" ng-model="userLogin.username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="loginPassword" class="col-md-3 control-label">Password</label>
                <div class="col-md-9">
                    <input type="password" class="form-control" id="loginPassword" ng-model="userLogin.password" placeholder="Password">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="rememberMe"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="loginUser(userLogin)">Login</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
