<header ng-include="'templatesHTML/user/headerUser.html'"></header>

<div class="panel panel-default">
    <div class="panel-body">
        <h3>Edit Profile</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-7 col-md-offset-3">
        <form name="editProfileForm" class="form-horizontal col-md-10" autocomplete="off">
            <fieldset>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <legend>Change Password</legend>
                    </div>
                </div>

                <div class="form-group">
                    <label for="oldpassword" class="col-md-3 control-label">Old Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" ng-model="changeUserPass.oldPassword" id="oldpassword" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label for="newpassword" class="col-md-3 control-label">New Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" ng-model="changeUserPass.newPassword" id="newpassword" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmnewpassword" class="col-md-3 control-label">Confirm Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" ng-model="changeUserPass.confirmPassword" id="confirmnewpassword" required="required">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-9 col-lg-offset-3">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-click="editPassword(changeUserPass)">Edit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>